#game {
  background-color: #6ba84a;
  position: relative;
  margin: auto;
  width: 1000px;
  height: 600px;
  overflow: hidden;
}

.character {
  position: absolute;
  bottom: 50px;
  left: 100px;
  height: 70px;
  width: 70px;
}

.character img {
  width: 70px;
  height: 70px;
}

div[class^='braco-'] {
  position: absolute;
  height: 70px;
  width: 70px;
  transform: rotate(-270deg);
  right: 0;
}

div[class^='braco-'] img {
  width: 70px;
  width: 70px;
}

.paquerettes {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

div[class^="paq-"] {
  position: absolute;
  background: url(../img/paquerette.png);
  background-size: cover;
  width: 20px;
  height: 20px;
}

.arbres {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

div[class^="arb-"] {
  position: absolute;
  background: url(../img/arbre.gif);
  background-size: cover;
  width: 80px;
  height: 80px;
}

.rangee-arbres-top {
  position: absolute;
  top: -50px;
  left: calc(50vw - 510px);
  height: 100px;
}

.rangee-arbres-bottom {
  position: absolute;
  top: 550px;
  left: calc(50vw - 510px);
  height: 100px;
}

.rarbre {
  margin-left: -20px;
  width: 100px;
  height: 100px;
  display: inline-block;
  background: url(../img/arbre.gif);
  background-size: cover;
}
