#game {
  background-color: #6ba84a;
  position: relative;
  margin: auto;
  width: 1000px;
  height: 600px;
  overflow: hidden;
}

.character {
  position: absolute;
  bottom: 50px;
  left: 100px;
  height: 70px;
  width: 70px;
}

.character img {
  width: 70px;
  height: 70px;
}

div[class^='braco-'] {
  position: absolute;
  height: 70px;
  width: 70px;
  transform: rotate(-270deg);
  right: 0;
}

div[class^='braco-'] img {
  width: 70px;
  width: 70px;
}

.paquerettes {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.holes {
	position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

div[class^="paq-"] {
  position: absolute;
  background: url(../img/paquerette.png);
  background-size: cover;
  width: 20px;
  height: 20px;
}


div[class^="hol-"] {
  position: absolute;
	background: black; 
	border-radius: 50%; 
}
