#game {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 600px;
  border: solid 1px blue;
  overflow: hidden;
}

.character {
  position: absolute;
  bottom: 50px;
  left: 100px;
  height: 70px;
  width: 70px;
}

.character img {
  width: 70px;
  height: 70px;
}

div[class^='braco-'] {
  position: absolute;
  height: 70px;
  width: 70px;
  transform: rotate(-270deg);
  right: 0;
}

div[class^='braco-'] img {
  width: 70px;
  width: 70px;
}
